.DS_Store
/.DS_Store
/.terraform*
/.terraform.lock.hcl
/plan.out
/terraform.tfstate*
/terraform.tfvars
/deployment-notes.txt
/baseline-files/*
tn-*/terraform.tfstate
tn-*/terraform.tfstate.backup
tn-*/.DS_Store
